<div class="content-footer" ng-if="false">
    <div class="col-25">
        <h3>Footer Link Header 1</h3>
        <ul>
            <li><a href="#">Link</a></li>
        </ul>
    </div>
    <div class="col-25">
        <h3>Footer Link Header 1</h3>
        <ul>
            <li><a href="#">Link</a></li>
        </ul>
    </div>
    <div class="col-25">
        <h3>Footer Link Header 1</h3>
        <ul>
            <li><a href="#">Link</a></li>
        </ul>
    </div>
    <div class="col-25">
        <h3>Footer Link Header 1</h3>
        <ul>
            <li><a href="#">Link</a></li>
        </ul>
    </div>
</div>